<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-climbing-dot" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>


<div class="wrapper ">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a class="simple-text logo-normal">
        Administrador
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active">
          <a (click)="manageDashboards(1)">
            <i class="nc-icon nc-paper"></i>
            <p>Certificaciones</p>
          </a>
        </li>

        <li>
          <a (click)="manageDashboards(2)">
            <i class="nc-icon nc-bank"></i>
            <p>Instituto</p>
          </a>
        </li>

        <li>
          <a (click)="manageDashboards(3)">
            <i class="nc-icon nc-single-02"></i>
            <p>Usuarios</p>
          </a>
        </li>

        <li>
          <a (click)="manageDashboards(4)">
            <i class="nc-icon nc-circle-10"></i>
            <p>Solicitudes</p>
          </a>
        </li>

        <li>
          <a (click)="manageDashboards(5)">
            <i class="nc-icon nc-single-copy-04"></i>
            <p>Solicitudes por aceptar</p>
          </a>
        </li>

      </ul>
    </div>
  </div>


  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-wrapper">
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form>
            <div class="input-group no-border">
              <button class="btn btn-danger" (click)="cerrarSesion()">
                CERRAR SESIÓN
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- CURSO -->
    <br><br>

    <!--curso-->
    <div *ngIf="view.panel01">
      <section class="cards-section text-center">
        <div class="container">
          <button class="btn btn-primary" (click)="abrirModalCursos(1, 0)">
            Agregar Certificaciones
          </button>
          <br><br>
          <div>
            <table style="width: 100%;">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Certificación</th>
                  <th>Descripción</th>
                  <th>Imagen</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let curso of lstCursos; let i = index">
                  <td><strong>{{i+1}}</strong></td>
                  <td>{{ curso.nombre }}</td>
                  <td>{{ curso.descripcion_corta }}</td>
                  <td><img [src]="curso.imagen" width="100"></td>
                  <td>
                    <button style="align-items: center;" class="btn btn-primary" (click)="abrirModalCursos(2, curso)">
                      <i class="far fa-edit"></i>
                    </button>
                  </td>
                  <td>
                    <button style="align-items: center;" class="btn btn-danger" (click)="eliminarCurso(curso)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>

    <!-- Instituo -->

    <div *ngIf="view.panel02">
      <section class="cards-section text-center">
        <div class="container">
          <button class="btn btn-primary" (click)="abrirModalInstituto(1, 0)">
            Agregar Instituto
          </button>
          <br><br>
          <div>
            <table style="width: 100%;">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>nombre</th>
                  <th>Imagen</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let instituto of lstInstituto; let i = index">
                  <td><strong>{{i+1}}</strong></td>
                  <td>{{ instituto.nombre }}</td>
                  <td><img [src]="instituto.imagen" width="100"></td>
                  <td>
                    <button style="align-items: center;" class="btn btn-primary"
                      (click)="abrirModalInstituto(2, instituto)">
                      <i class="far fa-edit"></i>
                    </button>
                  </td>
                  <td>
                    <button style="align-items: center;" class="btn btn-danger" (click)="eliminarInstituto(instituto)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>


    <!--usuario-->
    <div *ngIf="view.panel03">
      <section class="cards-section text-center">
        <div class="container">
          <br><br>
          <div>
            <table style="width: 100%;">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Identificación</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let participante of lstParticipante; let i = index">
                  <td><strong>{{i+1}}</strong></td>
                  <td>{{ participante.nombreP }}</td>
                  <td>{{ participante.correoP }}</td>
                  <td>{{ participante.identificacionP }}</td>
                  <td>
                    <button style="align-items: center;" class="btn btn-primary"
                      (click)="abrirModalParticipante(2, participante)">
                      <i class="far fa-edit"></i>
                    </button>
                  </td>
                  <td>
                    <button style="align-items: center;" class="btn btn-danger"
                      (click)="eliminarParticipante(participante)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>


    <!--Solicitudes-->
    <div *ngIf="view.panel04">
      <section class="cards-section text-center">
        <div class="container">
          <br><br>
          <div>
            <table style="width: 100%;">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Nombre de la Certificación</th>
                  <th>Nombre del Participante</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let postulacion of lstPostulacionAprobadas; let i = index">
                  <td><strong>{{i+1}}</strong></td>
                  <td>{{ postulacion.nombre_curso }} </td>
                  <td>{{ postulacion.nombre_participante }}</td>
                  <button style="align-items: center;" class="btn btn-danger" (click)="eliminarPostulacion(postulacion)">
                    <i class="far fa-trash-alt"></i></button>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>

    <!--Solicitudes por aceptar-->
    <div *ngIf="view.panel05">
      <section class="cards-section text-center">
        <div class="container">
          <br><br>
          <div>
            <table style="width: 100%;">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Curso</th>
                  <th>Participante</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let postulacion of lstPostulacion; let i = index">
                  <td><strong>{{i+1}}</strong></td>
                  <td>{{ postulacion.nombre_curso }} </td>
                  <td>{{ postulacion.nombre_participante }}</td>
                  <td>
                    <button style="align-items: center;" class="btn btn-primary"
                      (click)="abrirModalVerificarPostulante(1, postulacion)">
                      <i class="fa fa-file"></i>
                    </button>
                    <button style="align-items: center;" class="btn btn-primary">
                      <i class="fas fa-file-archive"></i>
                    </button>
                  </td>
                  <td>
                    <button style="align-items: center;" class="btn btn-info" (click)="aceptarPostulacion(postulacion)">
                      <i class="fas fa-check"></i>
                    </button>
                    <button style="align-items: center;" class="btn btn-danger" (click)="eliminarPostulacion(postulacion)">
                      <i class="far fa-trash-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>




    <footer class="footer footer-black  footer-white ">
      <div class="container-fluid">
        <div class="row">
          <div class="credits ml-auto">
            <span class="copyright">
              ©
              <script>
                document.write(new Date().getFullYear())
              </script>Elaborado <i class="fa fa-heart heart"></i> by Pamela Garzón
            </span>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>



<!-- Modal Curso-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel">Agregar Certificación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formularioCurso" (ngSubmit)="guardarCurso($event)">
          <div class="form-group">
            <div></div>
            <label>Nombre del curso</label>
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre Curso">
          </div>
          <div>
            <label>Descripción Corta</label>
            <input type="text" class="form-control" formControlName="descripcion_corta" placeholder="Descripción Corta">
          </div>
          <div class="form-group">
            <label>Descripción larga</label>

            <div id="summernote"></div>
          </div>
          <div class="form-group">
            <label>Ícono</label>
            <select class="form-control" formControlName="icono">
              <option value="fab fa-500px">&#xf26e; fab fa-500px</option>
              <option value="fas fa-address-book">&#xf2b9; fas fa-address-book</option>
              <option value="far fa-address-book">&#xf2ba; far fa-address-book</option>
              <option value="fas fa-address-card">&#xf2bb;; fas fa-address-card</option>
              <option value="far fa-address-card">&#xf2bc; far fa-address-card</option>
              <option value="fas fa-adjust">&#xf042; fas fa-adjust</option>
              <option value="fab fa-adn">&#xf170; fab fa-adn</option>
              <option value="fas fa-align-center">&#xf037; fas fa-align-center</option>
              <option value="fas fa-align-justify">&#xf039; fas fa-align-justify</option>
              <option value="fas fa-align-left">&#xf036; fas fa-align-left</option>
              <option value="fas fa-align-right">&#xf038; fas fa-align-right</option>
              <option value="fab fa-amazon">&#xf270; fab fa-amazon</option>
              <option value="fas fa-ambulance">&#xf0f9; fas fa-ambulance</option>
              <option value="fas fa-anchor">&#xf13d; fas fa-anchor</option>
              <option value="fab fa-android">&#xf17b; fab fa-android</option>
              <option value="fab fa-angellist">&#xf209; fab fa-angellist</option>
              <option value="fas fa-angle-double-down">&#xf103; fas fa-angle-double-down</option>
              <option value="fas fa-angle-double-left">&#xf100; fas fa-angle-double-left</option>
              <option value="fas fa-angle-double-right">&#xf101; fas fa-angle-double-right</option>
              <option value="fas fa-angle-double-up">&#xf102; fas fa-angle-double-up</option>
              <option value="fas fa-angle-down">&#xf107; fas fa-angle-down</option>
              <option value="fas fa-angle-left">&#xf104; fas fa-angle-left</option>
              <option value="fas fa-angle-right">&#xf105; fas fa-angle-right</option>
              <option value="fas fa-angle-up">&#xf106; fas fa-angle-up</option>
              <option value="fab fa-apple">&#xf179; fab fa-apple</option>
              <option value="fas fa-archive">&#xf187; fas fa-archive</option>
              <option value="fas fa-assistive-listening-systems">&#xf2a2; fas fa-assistive-listening-systems</option>
              <option value="fas fa-audio-description">&#xf29e; fas fa-audio-description</option>
              <option value="fas fa-at">&#xf1fa; fas fa-at</option>
              <option value="fas fa-asterisk">&#xf069; fas fa-asterisk</option>
              <option value="fas fa-balance-scale">&#xf24e; fas fa-balance-scale</option>
              <option value="fas fa-ban">&#xf05e; fas fa-ban</option>
              <option value="fas fa-barcode">&#xf02a; fas fa-barcode</option>
              <option value="fas fa-battery-full">&#xf240; fas fa-battery-full</option>
              <option value="fas fa-bed">&#xf236; fas fa-bed</option>
              <option value="fas fa-beer">&#xf0fc; fas fa-beer</option>
              <option value="fab fa-behance">&#xf1b4; fab fa-behance</option>
              <option value="fas fa-bell">&#xf0f3; fas fa-bell</option>
              <option value="fas fa-bell-slash">&#xf1f6; fas fa-bell-slash</option>
              <option value="fas fa-bicycle">&#xf206; fas fa-bicycle</option>
              <option value="fab fa-bitcoin">&#xf15a; fab fa-bitcoin</option>
              <option value="fab fa-bluetooth-b">&#xf294; fab fa-bluetooth-b</option>
              <option value="fas fa-book">&#xf02d; fas fa-book</option>
              <option value="fas fa-bus">&#xf207; fas fa-bus</option>
              <option value="fas fa-calculator">&#xf1ec; fas fa-calculator</option>
              <option value="far fa-calendar-alt">&#xf073; far fa-calendar-alt</option>
              <option value="fas fa-camera">&#xf030; fas fa-camera</option>
              <option value="fab fa-chrome">&#xf268; fab fa-chrome</option>
              <option value="fas fa-child">&#xf1ae; fas fa-child</option>
              <option value="fas fa-cut">&#xf0c4; fas fa-cut</option>
              <option value="fas fa-database">&#xf1c0; fas fa-database</option>
              <option value="fas fa-desktop">&#xf108; fas fa-desktop</option>
              <option value="far fa-envelope-open">&#xf2b7; far fa-envelope-open</option>
              <option value="fab fa-github-square">&#xf092; fab fa-github-square</option>
              <option value="fas fa-globe-americas">&#xf0ac; fas fa-globe-americas</option>
              <option value="fab fa-google">&#xf1a0; fab fa-google</option>
              <option value="fab fa-google-plus-g">&#xf0d5; fab fa-google-plus-g</option>
              <option value="far fa-hospital">&#xf0f8; far fa-hospital</option>
              <option value="far fa-hospital">&#xf0f8; far fa-hospital</option>
            </select>
          </div>
          <div *ngIf="tipoCurso != 2">
            <label for="file-upload" class="custom-file-upload">Imagen Curso</label>
            <br>
            <input formControlName="imagen" id="file-curso" type="file" (change)="getImage('file-curso')" />
          </div>
          <br>
          <div class="form-group">
            <label>Seleccione un Instituto</label>
            <br> <select class="form-control" id="instituto" formControlName="idInstituto">
              <option *ngFor="let instituto of lstInstituto" [value]="instituto.idInstituto">{{ instituto.nombre }}
              </option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            <button type="submit" class="btn btn-primary">Guardar Curso</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- Modal Insituto -->
<div class="modal fade" id="ejemlomodal" tabindex="-1" aria-labelledby="ejemlomodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ejemlomodalLabel">Agregar Institutos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="formularioInstituto" (ngSubmit)="guardarInstituto($event)">
        <div class="modal-body">

          <label>Nombre del Instituto</label>
          <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre Instituto">
          <br>
          <label *ngIf="tipoInstituto != 2" for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Logo del Insituto
          </label>
          <input *ngIf="tipoInstituto != 2" formControlName="imagen" id="file-instituto" type="file" (change)="getImage('file-instituto')" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
          <button type="submit" class="btn btn-primary">Guardar Insituto</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Participante -->
<div class="modal fade" id="ejemploParticipante" tabindex="-1" aria-labelledby="ejemploParticipante" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ejemploParticipante">Modificar Participante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="fmrParticipante" (ngSubmit)="modificarParticipante(2)">
        <div class="modal-body">

          <label>Nombre</label>
          <input type="text" formControlName="nombreP" class="form-control" placeholder="Nombre">
          <br>
          <label>Correo</label>
          <input type="text" formControlName="correoP" class="form-control" placeholder="Correo">
          <br>
          <label>Identificación</label>
          <input type="text" formControlName="identificacionP" class="form-control" placeholder="Identificación">
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
          <button type="submit" class="btn btn-primary">Guardar Participante</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Solicitud -->
<div class="modal fade bd-example-modal-lg" id="verificarParticipante" tabindex="-1" role="dialog"
  aria-labelledby="verificarParticipante" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="padding: 25px;">

      <h5 class="modal-title" id="verificarParticipante">Verificar Participante</h5>
      <div>


        <div style="text-align: justify; padding-bottom: 10px; padding-top: 20px; pointer-events: none;">
          <div class="title">
            DATOS PERSONALES:
          </div>
          <br><br>

          <div class="form-row">
            <div class="form-group col-md-6">
              <b>Nombres y Apellidos</b>
              <div>{{ datosPostulacionParticipante?.nombreP }}</div>
            </div>
            <div class="form-group col-md-6">
              <b>Identificacion</b>
              <div>{{ datosPostulacionParticipante?.identificacionP }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <b>Correo Electrónico</b>
              <div>{{ datosPostulacionParticipante?.correoP }}</div>
            </div>
            <div class="form-group col-md-6">
              <b>Dirección</b>
              <div>{{ datosPostulacionParticipante?.direccionP }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <b>País</b>
              <div>{{ datosPostulacionParticipante?.paisP }}</div>
            </div>
            <div class="form-group col-md-6">
              <b>Ciudad</b>
              <div>{{ datosPostulacionParticipante?.ciudadP }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <b>Provincia</b>
              <div>{{ datosPostulacionParticipante?.provinciaP }}</div>
            </div>
            <div class="form-group col-md-3">
              <b>Estado Civil</b>
              <div>{{ datosPostulacionParticipante?.estadoCivilP }}</div>
            </div>
            <div class="form-group col-md-3">
              <b for="inputZip">Fecha de Nacimiento</b>
              <div>{{ datosPostulacionParticipante?.fechaNac }}</div>
            </div>
          </div>
          <div class="form-group">
          </div>
          <div class="title">
            REFERENCIAS:
          </div>
          <br><br>
          <div class="form-row">
            <div class="form-group col-md-6">
              <b>Referencias Personales 1</b>
              <div>{{ datosPostulacionParticipante?.nombreRefeP }}</div>
            </div>
            <div class="form-group col-md-6">
              <b>Correo Referencia Personal</b>
              <div>{{ datosPostulacionParticipante?.correoRefeP }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <b>Contacto Referencia Personal</b>
              <div>{{ datosPostulacionParticipante?.contactoP }}</div>
            </div>
            <div class="form-group col-md-6">
              <b>Parentesco Referencia Personal</b>
              <div>{{ datosPostulacionParticipante?.parentescoP }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <b>Referencias Laborales 1</b>
              <div>{{ datosPostulacionParticipante?.nombreRefeL }}</div>
            </div>
            <div class="form-group col-md-6">
              <b>Correo Referencia Laboral</b>
              <div>{{ datosPostulacionParticipante?.correoRefeL }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <b>Contacto Referencia Laboral</b>
              <div>{{ datosPostulacionParticipante?.contactoL }}</div>
            </div>
            <div class="form-group col-md-6">
              <b>Parentesco Referencia Laboral</b>
              <div>{{ datosPostulacionParticipante?.parentescoL }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>