<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-climbing-dot" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>


<div class="wrapper ">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a class="simple-text logo-normal">
       USUARIO
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a (click)="manageDashboards(1)">
            <i class="nc-icon nc-paper"></i>
            <p>Cursos</p>
          </a>
        </li>

        <li>
          <a (click)="manageDashboards(2)">
            <i class="nc-icon nc-bank"></i>
            <p>Perfil</p>
          </a>
        </li>

      </ul>
    </div>
  </div>


  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <input type="text" value="" class="form-control" placeholder="Buscar...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form>
            <div class="input-group no-border"  >
              <button class="btn btn-danger" (click)="cerrarSesion()">
                CERRAR SESIÓN
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- CURSO -->
    <br><br>

    <!--curso-->
     <!--curso-->
     <div *ngIf="view.panel01">
      <section class="cards-section text-center">
        <div class="container">
          <br><br>
          <div>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre del Curso</th>
                  <th scope="col">Descripción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let curso of lstCursos; let i = index">
                  <td><strong>{{i+1}}</strong></td>
                  <td>{{ curso.nombre }}</td>
                  <td>{{ curso.descripcion_corta }}</td>
                </tr>
              </tbody>
            </table>
            

          </div>
        </div>
      </section>
    </div>
    <!-- Instituo -->

 
    <!--perfil usuario-->
    <div *ngIf="view.panel02">
      <section class="cards-section text-center">
        <div class="container">
          <br><br>
          <div>
            <table style="width: 100%;">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong><!-- {{i+1}} --></strong></td>
                  <td><!-- {{ participante.nombreP }} --></td>
                  <td><!-- {{ participante.correoP }} --></td>
                  <td>
                    <button style="align-items: center;" class="btn btn-primary">
                      <i class="far fa-edit"></i>
                    </button>
                  </td>
                  <td>
                    <button style="align-items: center;" class="btn btn-danger">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>




    <footer class="footer footer-black  footer-white ">
      <div class="container-fluid">
        <div class="row">
          <div class="credits ml-auto">
            <span class="copyright">
              ©
              <script>
                document.write(new Date().getFullYear())
              </script>Elaborado <i class="fa fa-heart heart"></i> by Pamela Garzón
            </span>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

