<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-climbing-dot" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
<div class="page-wrapper">
  <header class="header text-center">
    <div class="container">
      <div class="branding">
        <h1 class="logo">
          <span aria-hidden="true" class="icon_documents_alt icon"></span>
          <span class="text-highlight">Curso</span><span class="text-bold"></span>
        </h1>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
  </header>

  <section class="cards-section text-center">

    <div class="container">
      <h1 class="title">REGISTRO PARA EL CURSO DE:</h1>
      <!--            <h3>{{curso.nombre}}</h3> -->
    </div>

    <div class="container">
      <div class="card">
        <div class="card-header">
          <!--  <h2>FORMULARIO</h2> -->
        </div>
        <div class="card-body">

          <form [formGroup]="fmrParticipante" (ngSubmit)="guardarParticipante(1)">

            <!--FORMULARIO 1-->
            <div *ngIf="view.panel01" style="text-align: justify; padding-bottom: 10px; padding-top: 20px;">
              <div class="title">
                DATOS PERSONALES
              </div>
              <br><br>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>
                    Nombres y apellidos
                  </label>
                  <input type="text" style="text-transform:uppercase;" class="form-control" formControlName="nombreP"
                    placeholder="Nombres y Apellidos">
                </div>
                <div class="form-group col-md-6">
                  <label>Identificacion</label>
                  <input type="number" style="text-transform:uppercase;" class="form-control"
                    formControlName="identificacionP" placeholder="Identificacion" minlength="10">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Correo Electrónico</label>
                  <input type="email" class="form-control" formControlName="correoP" placeholder="CORREO ELECTRÒNICO">
                </div>
                <div class="form-group col-md-6">
                  <label>Dirección</label>
                  <input type="text" style="text-transform:uppercase;" class="form-control" formControlName="direccionP"
                    placeholder="Dirección">
                </div>


              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>País</label>
                  <input type="text" style="text-transform:uppercase;" class="form-control" formControlName="paisP"
                    placeholder="País">
                </div>
                <div class="form-group col-md-6">
                  <label>Ciudad</label>
                  <input type="email" style="text-transform:uppercase;" class="form-control" formControlName="ciudadP"
                    placeholder="Ciudad">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Provincia</label>
                  <input type="text" style="text-transform:uppercase;" class="form-control" formControlName="provinciaP"
                    placeholder="Provincia">
                </div>
                <div class="form-group col-md-3">
                  <label>Estado Civil</label>
                  <select formControlName="estadoCivilP" class="form-control">
                    <option selected>Seleccione...</option>
                    <option>Solter@</option>
                    <option>Casad@</option>
                    <option>Divorciad@</option>
                    <option>Viud@</option>
                    <option>Unión Libre</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputZip">Fecha de Nacimiento</label>
                  <input formControlName="fechaNac" class="form-control" min="1951-01-01" max="2009-12-31" type="date"
                    value="2011-08-19">
                </div>
              </div>
              <div class="form-group">
              </div>

              <div class="row w-100 align-items-center">
                <div class="col text-center">
                  <button class="btn btn-primary" (click)="validarInformacion(2)">siguiente</button>
                </div>
              </div>
            </div>

            <!-- FORMULARIO 2 -->
            <div *ngIf="view.panel02" style="text-align: justify; padding-bottom: 10px; padding-top: 20px;">
              <div class="title">
                REFERENCIAS
              </div>
              <br><br>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Referencias Personales 1</label>
                  <input type="text" style="text-transform:uppercase;" class="form-control"
                    formControlName="nombreRefeP" placeholder="Nombres y Apellidos">
                </div>
                <div class="form-group col-md-6">
                  <label></label>
                  <input type="email" class="form-control" formControlName="correoRefeP"
                    placeholder="CORREO ELECTRÒNICO">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="number" style="text-transform:uppercase;" class="form-control"
                    formControlName="contactoP" placeholder="Contacto">
                </div>
                <div class="form-group col-md-6">

                  <input type="email" style="text-transform:uppercase;" class="form-control"
                    formControlName="parentescoP" placeholder="Parentesco">
                </div>
              </div>


              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Referencias Laborales 1</label>
                  <input type="text" style="text-transform:uppercase;" class="form-control"
                    formControlName="nombreRefeL" placeholder="Nombres y Apellidos">
                </div>
                <div class="form-group col-md-6">
                  <label></label>
                  <input type="email" class="form-control" formControlName="correoRefeL"
                    placeholder="CORREO ELECTRÒNICO">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="number" style="text-transform:uppercase;" class="form-control"
                    formControlName="contactoL" placeholder="Contacto">
                </div>
                <div class="form-group col-md-6">

                  <input type="email" style="text-transform:uppercase;" class="form-control"
                    formControlName="parentescoL" placeholder="Parentesco">
                </div>
              </div>

              <div class="form-group">
              </div>

              <div class="row w-100 align-items-center">
                <div class="col text-center">
                  <button class="btn btn-primary" (click)="manageDashboards(1)">atras</button>
                  <button class="btn btn-primary" (click)="validarInformacion(3)">siguiente</button>
                </div>
              </div>
            </div>


            <!--FORMULARIO 3-->
            <div *ngIf="view.panel03" style="text-align: justify; padding-bottom: 10px; padding-top: 20px;">
              <div class="title">
                DATOS ADJUNTOS DE CAPACITACIONES Y TÍTULOS
              </div>

              <br><br>
              <div class="form-row">

                <div class="row">
                  <div class="col-md-10">
                    <label>
                      <h3>Archivos de capacitaciones obtenidos</h3>
                    </label>
                  </div>
                  <div class="col-md-2">
                    <button class="btn " (click)="agregarInputCapacitacion() ">
                      +
                    </button>
                  </div>
                </div>
                <div class="form-group col-md-6" *ngFor="let capa of lstInputsCapacitaciones">
                  <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Subir archivo
                  </label>
                  <input id="{{ capa.id }}" type="file" />
                </div>
              </div>
              <div class="form-row">
                <label>
                  <h3>Archivos de títulos obtenidos</h3>
                </label>
                <div class="form-group col-md-6">
                  <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Subir archivo
                  </label>
                  <input id="file-upload" type="file" />
                </div>
              </div>
              <div class="form-group">
              </div>
              <div class="row w-100 align-items-center">
                <div class="col text-center">
                  <button class="btn btn-primary" (click)="manageDashboards(2)">atras</button>
                  <button type="submit" class="btn btn-primary">Finalizar</button>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </section>
</div>

<footer class="footer text-center">
  <div class="container">
    <small class="copyright">Designed with <i class="fas fa-heart"></i> by Pamela Garzón for developers</small>
  </div>
</footer>